body {
  margin:0;
  padding:0;
  background: url(BG_QUIZZ.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  margin-right: 50px;
  margin-left: 50px;
  background-color: #7770B0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn-start {
	font-size: 30px;
	margin-top: 400px;
	margin-left: 200px;
}

.intro {
	font-size: 20px;
	font-family: 'Hammersmith One', sans-serif;
	margin-top: 250px;
	background-color: black;
	color: white;
}

.question1, .question2, .question2-bis, .question3, .question4, .question5, .question6 {
	display: none;
	margin-top: 522px;
	background-color: rgb(0,0,0);
	border: solid white;
	color: white;
}

.temoignage {
	display: none;
	margin-top: 300px;
	margin-left: 65px;
	background-color: rgb(0,0,0);
	color: white;
}

.video-bozize {
	display: none;
	margin-top: 450px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: rgb(0,0,0);
	color: white;
}

.vrai1 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid green;
}

.faux1 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid red;
}

#texte {
	font-size: 50px;
}

/*Question 2*/


.vrai2 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid green;
}

.faux2 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid red;
}

.vrai2-bis {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid green;

}

.faux2-bis {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid red;
}

/*Question 3*/

.vrai3 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid green;
}

.faux3 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid red;
}

/*Question 4*/


.vrai4 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid green;
}

.faux4 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid red;
}

.video-sangaris {
	display: none;
	margin-top: 440px;
	background-color: rgb(0,0,0);
	color: white;
}

/* Question 5*/

.vrai5 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid green;
}

.faux5 {
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
	display: none;
	border: solid red;
}

.video-richesse {
	display: none;
	margin-top: 300px;
	background-color: rgb(0,0,0);
	color: white;
}