<div class="page-header">
<h1 id="titre"><span id="centre">Centr</span><span id="afrique"><strong>afrique</strong></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><small id="sous-titre">Un silence meurtrier</small></h1>
</div>